{% extends "layout.html" %}
{% block body %}
<h2>Книги</h2>
{% for book in books %}
<ul>
    <li>Название: {{ book.title }}</li>
    <li>Автор: {{ book.author }}</li>
    <li>Добавлена: {{ book.added }}</li>
    <li>
        <a href="{{ url_for('books_by_genre', genre_id=book.genre_id) }}">Жанр: {{
            book.genre.name }}</a>
    </li>
    <li>Статус: {{ book.get_status() }}</li>
    {% if book.is_read == 0 %}
    <li>
        <a href="{{ url_for('change_status', book_id=book.id) }}">Отметить как прочитанная</a>
    </li>
    {% endif %}

</ul>
<hr>
{% endfor %}
{% for page in books.iter_pages() %}
{% if page %}
<a href="{{ url_for('all_books', page=page) }}">{{ page }}</a>
{% else %}
…
{% endif %}
{% endfor %}
{% endblock %}