<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <ul>
        <li>Название: {{ book.title }}</li>
        <li>Автор: {{ book.author }}</li>
        <li>Добавлена: {{ book.added }}</li>
        <li>
            <a href="{{ url_for('books_by_genre', genre_id=book.genre_id) }}">Жанр: {{
                book.genre.name }}</a>
        </li>
        <li>Статус: {{ book.get_status() }}</li>
        <li>
            <form method="POST">
                Отметить как прочитанная <input type="checkbox" value="1" name="my_checkbox">
                <button>Сохранить</button>
            </form>
        </li>
    </ul>
</div>
</body>
</html>