<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h1>Статус прочтения книги</h1>
    <form method="POST">
        <label for="book_id">Введите ID книги:</label>
        <input type="number" id="book_id" name="book_id">
        <input type="submit" value="Получить статус">
    </form>
</div>
</body>
</html>